body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}



.worldmap{

  width: 100%;
  background: #f0f0f0;
  margin: 5px 0 5px 0;

}


.dashboard div{
  margin: 5px;
}

.dashboard{
  display: flex;
  gap: 10px;
}

.simulation-panel{
  width: 900px;
  height: 300px;
  display: inline;
  border: 1px teal solid;
  background-color: teal;
}

.middle{
  display: flex;
  flex-wrap: wrap;
}

.leaderboard{
  width: 450px;
  height: auto;
  justify-content: center;
  background-color: teal;
}

.leader_title{

  height: 60px;
  background-color: white;
  color: black;
  display: flex;

}

h4 {
  margin-right: 15px;
  width:60px ;
  margin-top: 0;
  margin-bottom: 0;
}

img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.leader{
  width: 300px;
  height: 50px;
  border: 1px white solid;
}

.leader_data{
  display: flex;
  background-color: white;
  height: 60px;
}

.leader_data > p{
  margin-right: 20px;
  width: 60px;
}

h1{
  color: teal;
  text-align: center;
}

h2{
  text-align: center;
  color: white;
}



.charts{
display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.scorecards{
  display: flex;
}

.scorecards div{
  width: 250px;
  height: 100px;
  border: none;
  color: white;
  border-radius: 3%;
  display: inline-block;
}

.scorecards div div{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.scorecards div div img{
  width: 60%;
  height: 70%;
}

.scorecards div div h4{
  font-size: 50px;
}

.carbon{
  background-color: darkgray;
}

.trades{
  background-color: teal;
}

.fairness{
  background-color: gold;
}

h5{
  margin: 0 0 5px 0;
  opacity: 50%;
  background-color: rgba(0,0,0,0.4);
}

.top-line{
  display: flex;
  width: 100%;
}

.top-line button{
  width: 50px;
  margin-right:5px;
  border: none;
}

.top-tickers{
  background-color: darkslategrey;
  color: white;
}

.region{
  width: 100%;
  opacity: 50%;
  background-color: rgba(0,0,0,0.5);
  margin: auto 0;
}

.region-data > div{
  display: flex;
}

.region-data div {
  margin-right: 20px;
}

.market-data .parameters{
  display: flex;
  background-color: rgba(0,0,0,0.5);
  opacity: 70%;
  gap: 40px;

}

